table,th,td {
  border: 1px solid black;	
}

table {
  width: 500px;
}

table th, td {
  overflow: scroll;
  white-space: nowrap;
}

#login_mask {
  margin: 100px;
  text-align: center; 
  float: left;
  width:200px;
  border: 2px solid black;
  background-color: green;
  overflow: auto;  
}

#reg_mask {
  margin: 100px;
  text-align: center;
  float:left; width:200px;
  border: 2px solid black;
  background-color: blue;
  overflow: auto;
}

button {
  margin: 10px;
  float: none;
}

input {
  margin: 10px;
}

#header {
  margin:5px;
  border:2px solid black;
  width:1200px;
  height:30px;
  overflow: auto;
}

article {
  width:1200px;
  margin:5px;
  overflow: scroll;
}

#logout {
  float:right;
  width:50px;
  height: 20px;
  margin:3px;
}

#tabs_contacts{
  overflow: scroll;
  width: 1150px;
  margin: 0px;
}

#notesPanel{
  width: 1050px;
  margin: 0px;
  overflow: scroll;
}

.portlet{
  width: 150px;
  height: 150px;
  float: left;
  overflow: scroll;
}